In [1]:
import pandas as pd

In [3]:
# Reading data in

data_month_of_june = pd.read_csv('C:/Graydon/Data/20181029_modelling_2018-06-01_2018-06-30/modelling_2018-06-01_2018-06-30.csv',
                                 sep = ';')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (6,9,10,11,12,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
pd.set_option('display.max_columns', None)  
data_month_of_june.head(40)

,date_month,id_company,id_branch,date_established,date_discontinued,postcode_numeric,postcode_alpha,qty_address_mutations_total,qty_address_mutations_month,date_start,date_end,date_end_month,from_date_start,from_date_end,from_postcode_numeric,from_postcode_alpha,has_relocated,qty_started_names,qty_stopped_names,Associate,Authorized official,Board member,Chairman,Commissioner,Director,Liquidator,Major,Managing clerk,Managing partner,Member of the partnership,Miscellaneous,Owner,Secretary,Secretary/Treasurer,Treasurer,Unknown,Vice President
0,2018-06-01,3,10079408,1921-03-17,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018-06-01,5,10079416,1740-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2018-06-01,6,10079424,1874-11-20,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2018-06-01,9,10079432,1897-05-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2018-06-01,12,35,1924-08-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,2018-06-01,14,43,1821-05-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,2018-06-01,17,51,1000-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2018-06-01,23,94,1915-11-15,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,2018-06-01,25,10079467,1970-12-07,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,2018-06-01,47,140,1862-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,2018-06-01,53,175,1000-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,2018-06-01,54,183,1979-06-19,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,2018-06-01,62,10079513,1683-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
13,2018-06-01,63,248,1919-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,2018-06-01,68,272,1961-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,2018-06-01,69,280,1902-09-13,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,2018-06-01,80,310,1000-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,2018-06-01,84,337,1892-06-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,2018-06-01,90,10079556,1902-04-29,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,2018-06-01,92,10079564,1883-02-11,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,2018-06-01,98,10079572,1898-02-18,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,2018-06-01,99,418,1910-07-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,2018-06-01,100,10079580,1000-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,2018-06-01,103,10079599,1908-04-15,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,2018-06-01,107,426,1936-06-04,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,2018-06-01,117,485,1918-03-14,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,2018-06-01,124,523,1946-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,2018-06-01,126,10079610,1865-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,2018-06-01,128,531,1889-12-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,2018-06-01,131,566,1871-08-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30,2018-06-01,138,612,1000-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,2018-06-01,144,10079653,1904-05-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32,2018-06-01,147,10079661,1888-03-15,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,2018-06-01,151,647,1906-05-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,2018-06-01,152,10079688,1904-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,2018-06-01,153,8516162,1912-08-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
36,2018-06-01,159,655,1914-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,2018-06-01,164,10079718,1925-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
38,2018-06-01,164,55767966,1925-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39,2018-06-01,164,56389884,1925-01-01,2999-01-01,NA,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
(data_month_of_june.columns)

Index(['date_month', 'id_company', 'id_branch', 'date_established',
       'date_discontinued', 'postcode_numeric', 'postcode_alpha',
       'qty_address_mutations_total', 'qty_address_mutations_month',
       'date_start', 'date_end', 'date_end_month', 'from_date_start',
       'from_date_end', 'from_postcode_numeric', 'from_postcode_alpha',
       'has_relocated', 'qty_started_names', 'qty_stopped_names', 'Associate',
       'Authorized official', 'Board member', 'Chairman', 'Commissioner',
       'Director', 'Liquidator', 'Major', 'Managing clerk', 'Managing partner',
       'Member of the partnership', 'Miscellaneous', 'Owner', 'Secretary',
       'Secretary/Treasurer', 'Treasurer', 'Unknown', 'Vice President'],
      dtype='object')

In [9]:
data_month_of_june_obj = data_month_of_june.select_dtypes(['object'])
#data_month_of_june[data_month_of_june_obj] = data_month_of_june_obj.apply(lambda x: x.str.strip())
for column_name in data_month_of_june.columns:      
    print("The possible values for the column: ", column_name)    
    print(data_month_of_june[column_name].unique())

The possible values for the column:  date_month
['2018-06-01']
The possible values for the column:  id_company
[        3         5         6 ... 908373280 915479561 890920053]
The possible values for the column:  id_branch
[10079408 10079416 10079424 ... 35550741 43062326 15844626]
The possible values for the column:  date_established
['1921-03-17' '1740-01-01' '1874-11-20' ... '1871-05-14' '1655-01-01'
 '1198-01-01']
The possible values for the column:  date_discontinued
['2999-01-01' '2018-08-06' '2018-08-22' '2018-09-21' '2018-08-29'
 '2018-07-19' '2018-07-01' '2018-10-01' '2018-09-24' '2018-07-24'
 '2018-07-13' '2018-09-01' '2018-08-21' '2018-06-29' '2018-07-07'
 '2018-08-16' '2018-08-31' '2018-08-23' '2018-07-04' '2018-08-15'
 '2018-08-27' '2018-07-05' '2018-08-17' '2018-07-20' '2018-07-15'
 '2018-08-01' '2018-07-14' '2018-07-10' '2018-09-03' '2018-09-11'
 '2018-07-31' '2018-07-03' '2018-06-30' '2018-08-09' '2018-09-30'
 '2018-07-17' '2018-09-27' '2018-08-02' '2018-09-18' '2018-09-22'
 '2018-07-25' '2018-08-20' '2018-08-03' '2018-07-28' '2018-08-18'
 '2018-09-13' '2018-07-26' '2018-08-04' '2018-08-25' '2018-08-30'
 '2018-09-17' '2018-07-18' '2018-09-10' '2018-08-13' '2018-07-27'
 '2018-09-08' '2018-08-10' '2018-09-07' '2018-09-23' '2018-07-02'
 '2018-08-24' '2018-09-29' '2018-09-06' '2018-07-12' '2018-10-05'
 '2018-08-08' '2018-09-04' '2018-09-12' '2018-09-05' '2018-10-03'
 '2018-09-25' '2018-08-14' '2018-07-23' '2018-09-20' '2018-07-16'
 '2018-09-14' '2018-07-30' '2018-08-28' '2018-09-26' '2018-07-11'
 '2018-07-09' '2018-07-29' '2018-09-19' '2018-10-04' '2018-09-28'
 '2018-08-07' '2018-07-06' '2018-09-15' '2018-10-02' '2018-09-16'
 '2018-09-02' '2018-08-11' '2018-10-08' '2018-07-22' '2018-09-09'
 '2018-08-05' '2018-08-19' '2018-07-08' '2018-10-10' '2018-08-26'
 '2018-07-21' '2018-10-11' '2018-08-12' '2018-10-06' '2018-10-12'
 '2018-10-09' '2041-09-01']
The possible values for the column:  postcode_numeric
['  NA' '1679' '3981' ... '7065' '7858' '8398']
The possible values for the column:  postcode_alpha
[nan 'GW' 'PA' 'AP' 'AJ' 'CG' 'BT' 'PK' 'VB' 'VX' 'MA' 'JB' 'ES' 'AA' 'HB'
 'BP' 'BC' 'EZ' 'GP' 'KB' 'CA' 'HH' 'VR' 'RB' 'GA' 'AN' 'AR' 'MR' 'ND'
 'XE' 'PD' 'JA' 'AT' 'RC' 'SX' 'VH' 'TN' 'GR' 'GD' 'PH' 'BA' 'PV' 'SV'
 'AM' 'CK' 'MC' 'HR' 'EK' 'MJ' 'CR' 'TL' 'AB' 'GS' 'BB' 'VP' 'JG' 'LH'
 'RM' 'LL' 'AV' 'KL' 'JK' 'RJ' 'HD' 'MP' 'PR' 'SM' 'KA' 'SE' 'AZ' 'SL'
 'JR' 'BM' 'PN' 'AE' 'CX' 'CN' 'CD' 'ZB' 'EN' 'WV' 'RL' 'HX' 'AS' 'VS'
 'XB' 'NT' 'SP' 'ZE' 'PZ' 'DB' 'KM' 'JL' 'EH' 'LE' 'SH' 'NK' 'DZ' 'KV'
 'GZ' 'ZA' 'CB' 'DN' 'ME' 'LX' 'JC' 'KR' 'EV' 'ED' 'RH' 'EW' 'BD' 'GG'
 'CE' 'TD' 'JV' 'NB' 'AW' 'EX' 'LP' 'SR' 'XC' 'KW' 'MS' 'WE' 'TW' 'PE'
 'BL' 'WC' 'CW' 'HT' 'RD' 'JE' 'WB' 'BZ' 'BW' 'CJ' 'WR' 'EB' 'MV' 'BE'
 'ZW' 'TT' 'HE' 'BK' 'EL' 'DR' 'RP' 'AD' 'AG' 'NN' 'EC' 'SJ' 'CL' 'LZ'
 'LK' 'DH' 'DC' 'LN' 'BR' 'DG' 'BN' 'JT' 'CM' 'DV' 'MH' 'VE' 'BX' 'PT'
 'DD' 'NP' 'DP' 'MK' 'LA' 'VJ' 'EE' 'XD' 'JZ' 'PM' 'DS' 'ZX' 'GB' 'JS'
 'VW' 'MB' 'AL' 'RN' 'VA' 'EG' 'RG' 'CP' 'CV' 'HS' 'AK' 'HM' 'BS' 'XV'
 'GC' 'SB' 'XZ' 'DM' 'CS' 'PW' 'LJ' 'HK' 'MX' 'KE' 'HP' 'TE' 'WP' 'DK'
 'DT' 'PL' 'TC' 'MN' 'RW' 'JD' 'XS' 'TG' 'CC' 'JW' 'DL' 'LD' 'JN' 'KZ'
 'RR' 'BG' 'LR' 'DX' 'NH' 'GK' 'GV' 'AC' 'PJ' 'RA' 'KN' 'NR' 'TA' 'ZJ'
 'MD' 'CH' 'LB' 'CZ' 'ET' 'DW' 'BJ' 'HA' 'RE' 'WJ' 'NC' 'DJ' 'KX' 'GT'
 'ZM' 'WZ' 'VN' 'GH' 'VT' 'JP' 'XH' 'NL' 'HZ' 'SN' 'WX' 'DE' 'PP' 'PX'
 'LM' 'HJ' 'BV' 'NW' 'BH' 'XW' 'XP' 'GJ' 'HG' 'ZP' 'TX' 'XM' 'LS' 'KD'
 'HW' 'ZR' 'CT' 'WK' 'HN' 'GN' 'XX' 'JX' 'GX' 'VG' 'RT' 'ZZ' 'XG' 'KK'
 'EM' 'NE' 'XL' 'EJ' 'AH' 'KH' 'LW' 'MG' 'WS' 'MZ' 'SW' 'LV' 'NX' 'TM'
 'AX' 'KT' 'JM' 'GL' 'RX' 'VV' 'VD' 'PG' 'NJ' 'KG' 'HC' 'JH' 'ER' 'VC'
 'JJ' 'HL' 'PS' 'NM' 'VK' 'TV' 'NV' 'KC' 'WL' 'RS' 'HV' 'WT' 'NG' 'GE'
 'SK' 'XJ' 'ZN' 'RV' 'LG' 'KP' 'RZ' 'XK' 'TH' 'TS' 'PB' 'ZC' 'GM' 'DA'
 'KJ' 'WD' 'EP' 'LC' 'WH' 'WN' 'SG' 'ZT' 'TB' 'XA' 'LT' 'EA' 'TK' 'ZL'
 'PC' 'TJ' 'KS' 'XT' 'ZV' 'MT' 'RK' 'VM' 'WG' 'NS' 'ML' 'XR' 'TP' 'ST'
 'ZK' 'TR' 'SZ' 'XN' 'SC' 'NZ' 'ZH' 'ZD' 'ZS' 'TZ' 'VZ' 'ZG' 'VL' 'MW'
 'WW' 'WM' 'MM']
The possible values for the column:  qty_address_mutations_total
[   0    5    6    3   14    2   81    4    7   12    8  129  538    9
   20   15   10  203   45  153   11  104   27   13   32   19   98   21
  747   53  639  554   31  192  436   73  772  182  632  120  330  474
  297   43   18   59  512  378  557  123   16  433   22   17  148   62
  190  173   65   44   35  541   42   69 1357  593   77  115  421   95
   38   79   58  106   50   39  295   46   30   24   61  171  132   41
  241  448   67  719   28  164  113   82   26  100   48  523   68   90
   25   47  150   23  204  101    1]
The possible values for the column:  qty_address_mutations_month
[0 1 2 3 4]
The possible values for the column:  date_start
[nan '2018-06-14' '2018-06-28' '2018-06-26' '2018-06-21' '2018-06-04'
 '2018-06-07' '2018-06-05' '2018-06-20' '2018-06-11' '2018-06-19'
 '2018-06-01' '2018-06-13' '2018-06-18' '2018-06-12' '2018-06-25'
 '2018-06-15' '2018-06-29' '2018-06-27' '2018-06-06' '2018-06-08'
 '2018-06-22']
The possible values for the column:  date_end
[nan '2018-08-09' '2018-07-05' '2018-09-06' '2018-07-19' '2018-06-21'
 '2018-10-04' '2018-06-28' '2018-06-14' '2018-08-16' '2018-09-13'
 '2018-07-26' '2018-10-11' '2018-07-12' '2018-08-27' '2018-08-02'
 '2018-09-20' '2018-08-30' '2018-09-27' '2018-07-20' '2018-08-23'
 '2018-07-27' '2018-06-26' '2018-10-08' '2018-07-13' '2018-09-15'
 '2018-08-07' '2018-09-25' '2018-07-11' '2018-08-17' '2018-06-18'
 '2018-08-15' '2018-09-18' '2018-09-05' '2018-10-01' '2018-08-21'
 '2018-07-02' '2018-07-10' '2018-10-09' '2018-06-19' '2018-09-24'
 '2018-06-29' '2018-08-29' '2018-08-01' '2018-06-13' '2018-06-15'
 '2018-09-04' '2018-07-16' '2018-09-19' '2018-07-03' '2018-06-20'
 '2018-09-17' '2018-09-03' '2018-09-10' '2018-08-08' '2018-10-10'
 '2018-08-13' '2018-07-18' '2018-09-11' '2018-06-08' '2018-08-14'
 '2018-08-03' '2018-07-17' '2018-09-07' '2018-06-27' '2018-07-31'
 '2018-07-09']
The possible values for the column:  date_end_month
[nan '2018-08-01' '2018-07-01' '2018-09-01' '2018-06-01' '2018-10-01']
The possible values for the column:  from_date_start
[nan '2002-06-20' '2017-08-10' ... '2018-05-25' '2018-06-05' '2018-06-28']
The possible values for the column:  from_date_end
[nan '2018-06-14' '2018-06-28' '2018-06-26' '2018-06-21' '2018-06-04'
 '2018-06-05' '2018-06-20' '2018-06-07' '2018-06-11' '2009-09-17'
 '2016-07-14' '2018-06-19' '2018-06-01' '2001-02-15' '2018-06-13'
 '2007-04-19' '2010-10-14' '2018-06-25' '2018-06-15' '2018-06-29'
 '2018-07-17' '2017-08-24' '2018-06-22' '2015-09-11' '2018-07-04'
 '2017-12-01' '2006-09-28' '2016-10-06' '1999-08-19' '2017-05-11'
 '2018-06-06' '2015-04-30' '2018-06-12' '2017-10-05' '2018-01-04'
 '2017-10-26' '2018-03-13' '2017-11-16' '2009-06-25' '2018-06-08'
 '2010-03-19' '2017-07-27' '2003-04-17' '2016-10-20' '2012-03-01'
 '2012-03-22' '2007-02-15' '2013-09-12' '2013-07-04' '2017-06-29'
 '2005-04-21' '2001-06-15' '2009-12-24' '2005-08-11' '2014-02-06'
 '2006-03-30' '2011-08-18' '2018-06-27' '1995-10-13' '2016-06-09'
 '2013-12-05' '2012-02-24' '2018-05-17' '2017-08-03' '2000-06-16'
 '2012-08-16' '2017-03-02' '2009-10-29' '2012-02-02' '2015-06-04'
 '2014-09-05' '1997-07-23' '2015-02-19' '2009-12-10' '2011-09-02'
 '2017-08-10' '2017-02-23' '2014-06-26' '2012-11-01' '2013-05-30'
 '2006-05-11' '2006-03-16' '2015-12-17' '2014-04-24' '2018-01-25'
 '2018-03-08' '2006-11-02' '2012-06-28' '2012-11-15' '2016-01-21'
 '2012-09-20' '2016-08-11' '2012-10-11' '2018-06-18' '2017-01-12'
 '2015-05-28' '2005-05-26' '2014-03-20' '2008-03-27' '2016-03-23'
 '2016-09-15' '2016-06-02' '2017-06-15' '2013-07-11' '2011-11-03'
 '2017-01-19' '2012-03-29' '2010-01-07' '2006-04-06' '2016-12-15'
 '2014-08-22' '2014-01-30' '2014-12-18' '2015-01-29' '2014-08-28'
 '2017-07-20' '2012-07-26' '2018-10-11' '2016-04-07' '2013-04-18'
 '2015-12-31' '2017-01-26' '2010-02-25' '2014-11-06' '2015-09-03'
 '2018-02-01' '2015-04-09' '2018-05-31' '2005-10-06' '2015-02-26'
 '2016-07-07' '2014-11-27' '2014-10-02' '2017-01-05' '2013-01-24'
 '2007-12-27' '2007-11-08' '2014-12-04' '2016-10-27' '2013-03-21'
 '2018-01-11' '2004-12-16' '2014-07-31' '2007-02-08' '2007-12-06'
 '2017-11-09' '2011-02-17' '2011-08-04' '2017-04-13' '2015-04-02'
 '2008-09-18' '2015-03-26' '2016-03-24' '2012-01-12' '2017-04-20'
 '2017-12-21' '2014-02-13' '2006-03-02' '2017-07-13' '2009-08-20'
 '2017-05-18' '2013-07-25' '2012-10-18' '2010-07-15' '2015-08-06'
 '2015-11-19' '2017-12-14' '2016-09-08' '2012-08-09' '2018-04-26'
 '2015-07-23' '2012-04-26' '2018-02-08' '2012-09-27' '2016-02-10'
 '2013-08-01' '2013-12-12' '2016-02-11' '2018-04-12' '2015-08-27'
 '2012-05-10' '2017-03-23' '2016-11-24' '2016-06-16' '2017-06-08'
 '2016-12-01' '2016-05-26' '2018-09-27' '2017-03-06' '2011-03-24'
 '2015-10-08' '2014-10-30' '2014-09-04' '2015-02-05' '2018-03-15'
 '2012-04-05' '2015-10-22' '2016-05-04' '2010-12-30' '2010-12-09'
 '2016-03-31' '2017-08-31' '2014-09-11' '2016-08-04' '2015-11-26'
 '2012-04-12' '2016-11-17' '2016-03-03' '2015-06-18' '2017-11-23'
 '2017-10-12' '2017-10-19' '2012-05-24' '2016-07-28' '2015-04-23'
 '2011-05-30' '2018-05-09' '2014-03-13' '2013-09-05' '2018-05-24'
 '2015-09-10' '2017-05-24' '2011-09-08' '2011-03-17' '2013-01-31'
 '2017-09-28' '2015-10-29' '2017-09-07' '2016-09-01' '2017-08-17'
 '2012-08-23' '2017-12-07' '2018-05-03' '2012-12-27' '2018-02-15'
 '2013-09-23' '2015-12-10' '2011-06-09' '2015-12-24' '2016-12-08'
 '2015-11-05' '2014-10-23' '2016-06-23' '2014-08-14' '2018-09-13'
 '2014-11-13' '2014-06-12' '2014-05-15' '2017-02-16' '2011-09-30'
 '2016-03-17' '2017-05-04' '2018-07-05' '2017-11-02' '2014-10-16'
 '2018-03-01' '2015-10-01' '2016-01-29' '2018-01-18' '2016-03-10'
 '2016-02-25' '2018-04-19' '2013-02-14' '2015-11-12' '2015-08-20'
 '2016-05-19' '2013-06-27' '2016-11-03' '2017-03-16' '2016-05-12'
 '2017-04-26' '2018-04-05' '2014-08-21' '2017-06-01' '2017-09-14'
 '2015-08-05' '2016-09-29' '2015-03-12' '2017-06-22' '2018-03-22'
 '2016-08-18' '2014-02-20' '2016-12-29' '2017-07-06' '2017-09-21'
 '2017-02-09' '2015-05-07' '2017-02-14' '2017-03-30' '2017-02-02'
 '2018-05-29' '2016-02-18' '2017-03-09' '2016-06-30' '2017-01-25'
 '2016-12-22' '2018-08-23' '2017-12-28' '2017-04-06' '2018-02-26'
 '2018-10-04' '2017-11-30' '2018-01-09' '2018-09-06' '2018-08-09'
 '2018-07-19']
The possible values for the column:  from_postcode_numeric
['  NA' '1693' '2991' ... '1634' '9515' '4759']
The possible values for the column:  from_postcode_alpha
[nan 'HP' 'SB' 'CK' 'BN' 'BW' 'TW' 'VN' 'AW' 'EN' 'EV' 'HW' 'VK' 'ND' 'CM'
 'SX' 'RA' 'AA' 'NS' 'AZ' 'TV' 'HA' 'MK' 'BK' 'LC' 'RX' 'EJ' 'ME' 'LP'
 'NV' 'BG' 'KK' 'EB' 'LR' 'AX' 'RC' 'DA' 'TE' 'SM' 'EP' 'ED' 'SK' 'RK'
 'PK' 'HS' 'AV' 'CL' 'CR' 'BD' 'PZ' 'PM' 'BJ' 'GM' 'XL' 'KZ' 'BA' 'AD'
 'PA' 'JS' 'LK' 'TA' 'TP' 'GL' 'MB' 'CW' 'CS' 'EK' 'ZC' 'NM' 'HX' 'KV'
 'LW' 'DR' 'DL' 'EC' 'JC' 'HB' 'VA' 'ET' 'AK' 'JL' 'WE' 'RH' 'KE' 'GD'
 'AS' 'XV' 'RM' 'MT' 'MJ' 'AE' 'NG' 'JJ' 'PE' 'CB' 'BB' 'CT' 'AP' 'AB'
 'AC' 'JE' 'BS' 'JA' 'EH' 'PP' 'HN' 'PB' 'SZ' 'KS' 'XN' 'HT' 'PL' 'MC'
 'AL' 'WJ' 'DT' 'KD' 'VG' 'PX' 'SE' 'PS' 'DX' 'BL' 'ER' 'LB' 'MS' 'MG'
 'DN' 'LL' 'LT' 'HE' 'TM' 'ZX' 'GA' 'ES' 'HC' 'KX' 'NW' 'ZZ' 'LZ' 'BR'
 'LN' 'GJ' 'DB' 'HG' 'TJ' 'LD' 'GK' 'DP' 'AN' 'BC' 'MH' 'GC' 'VX' 'JG'
 'HM' 'BT' 'WT' 'HK' 'BP' 'HD' 'GG' 'KN' 'DE' 'LA' 'KL' 'KJ' 'JD' 'DJ'
 'XK' 'JW' 'PV' 'GV' 'JX' 'AT' 'KR' 'PC' 'AJ' 'KA' 'LG' 'NL' 'LV' 'WN'
 'WS' 'XG' 'GZ' 'KT' 'TG' 'KP' 'GX' 'NK' 'CX' 'KM' 'BH' 'KB' 'BM' 'ZA'
 '15' 'XM' 'XE' 'GT' 'NB' 'SL' 'EX' 'GS' 'RB' 'CJ' 'AG' 'KC' 'CN' 'RJ'
 'BV' 'KH' 'MD' 'DK' 'PG' 'RD' 'GH' 'SG' 'WZ' 'SN' 'TH' 'HZ' 'WG' 'HV'
 'EE' 'RG' 'CE' 'BX' 'MR' 'RR' 'LS' 'VD' 'NC' 'WX' 'XA' 'CG' 'DD' 'EW'
 'CD' 'RL' 'NP' 'JT' 'KG' 'AR' 'PR' 'GR' 'RS' 'XC' 'WH' 'RN' 'PD' 'JN'
 'GN' 'NN' 'HL' 'SV' 'AH' 'XX' 'NJ' 'CH' 'DZ' 'XW' 'NZ' 'GW' 'ML' 'PN'
 'EA' 'DH' 'CA' 'EG' 'RZ' 'JM' 'DC' 'ZP' 'MN' 'VM' 'SR' 'LJ' 'VH' 'TZ'
 'JV' 'KW' 'CV' 'JB' 'DG' 'JH' 'VB' 'JZ' 'VP' 'RE' 'BE' 'EM' 'ZM' 'DM'
 'VR' 'CC' 'HR' 'PT' 'PJ' 'LX' 'PH' 'VT' 'WK' 'NX' 'WP' 'XP' 'GP' 'EL'
 'JP' 'ZB' 'VE' 'ZD' 'MA' 'TC' 'TN' 'JK' 'AM' 'VZ' 'NR' 'VV' 'WR' 'XH'
 'ZS' 'DS' 'LE' 'VJ' 'TT' 'LM' 'GB' 'CZ' 'HH' 'VC' 'RT' 'CP' 'LH' 'RW'
 'TD' 'VL' 'JR' 'BZ' 'DW' 'TR' 'HJ' 'EZ' 'ZG' 'TL' 'ZW' 'SJ' 'WD' 'GE'
 'ZL' 'WB' 'VW' 'ST' 'WV' 'TB' 'NT' 'MZ' 'NE' 'SP' 'TS' 'XD' 'XR' 'XT'
 'WL' 'XS' 'PW' 'TX' 'SW' 'TK' 'WC' 'DV' 'ZH' 'MX' 'MP' 'RP' 'ZE' 'RV'
 'XJ' 'WA' 'SH' 'MV' 'VS' 'NH' 'ZT' 'ZR' 'XZ' 'SC' 'ZN' 'XB' 'ZK' 'ZV'
 'ZJ' 'MW' '7L' 'MM' 'WW' 'WM']
The possible values for the column:  has_relocated
[False  True]
The possible values for the column:  qty_started_names
[ 0  1  4  2  6 11  3  5 15 17 13  7 16  8 14  9 12 10]
The possible values for the column:  qty_stopped_names
[0]
The possible values for the column:  Associate
[0 1 3 2 4 5 6]
The possible values for the column:  Authorized official
[0 1 2 3 4]
The possible values for the column:  Board member
[ 0  1  3  2  6  4  5 15  8 12  7  9]
The possible values for the column:  Chairman
[0 2 1 3 4]
The possible values for the column:  Commissioner
[ 0  2  5  1  3  4  6  7  9 11 10]
The possible values for the column:  Director
[ 0  2  4  1  3 10  6  5  8  7 15  9]
The possible values for the column:  Liquidator
[0 2 1 4 3 6 8]
The possible values for the column:  Major
[0]
The possible values for the column:  Managing clerk
[ 0  1  6  2  7  4  3 13  5  8 12  9 15 20]
The possible values for the column:  Managing partner
[0 4 1 2]
The possible values for the column:  Member of the partnership
[ 0  1  2  3  7 81 29  9  4]
The possible values for the column:  Miscellaneous
[ 0  1  2  3  4 13]
The possible values for the column:  Owner
[0 1 2 3 4 5]
The possible values for the column:  Secretary
[0 1 2]
The possible values for the column:  Secretary/Treasurer
[0 1 2]
The possible values for the column:  Treasurer
[0 1 2]
The possible values for the column:  Unknown
[ 0  1  2  4 14  3 10  9  5  8]
The possible values for the column:  Vice President
[0 1 2]

In [25]:
count_of_nas = pd.isna(data_month_of_june['from_date_start']).count()
total_num = data_month_of_june['from_date_start'].count()
#print(count_of_nas/)
print(count_of_nas)
print(total_num)

3163218
20710

In [27]:
total_num/count_of_nas

0.00654713016934021

In [40]:

data_month_of_june[data_month_of_june['qty_address_mutations_total'] == 1357]

,date_month,id_company,id_branch,date_established,date_discontinued,postcode_numeric,postcode_alpha,qty_address_mutations_total,qty_address_mutations_month,date_start,date_end,date_end_month,from_date_start,from_date_end,from_postcode_numeric,from_postcode_alpha,has_relocated,qty_started_names,qty_stopped_names,Associate,Authorized official,Board member,Chairman,Commissioner,Director,Liquidator,Major,Managing clerk,Managing partner,Member of the partnership,Miscellaneous,Owner,Secretary,Secretary/Treasurer,Treasurer,Unknown,Vice President
411899,2018-06-01,890460183,71492127,1976-06-03,2999-01-01,1013,TC,1357,1,2018-06-07,NaN,NaN,NaN,NaN,NA,NaN,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [42]:
len(data_month_of_june)

3163218

In [43]:
data_month_of_june.shape

(3163218, 37)

In [136]:
data_month_of_june['postcode_numeric'] = data_month_of_june['postcode_numeric'].str.strip().replace('  NA', None)

In [137]:
str_test = data_month_of_june['postcode_numeric'][0]
str_test

'NA'

In [138]:
data_month_of_june.dtypes

date_month                     object
id_company                     int64
id_branch                      int64
date_established               object
date_discontinued              object
postcode_numeric               object
postcode_alpha                 object
qty_address_mutations_total    int64
qty_address_mutations_month    int64
date_start                     object
date_end                       object
date_end_month                 object
from_date_start                object
from_date_end                  object
from_postcode_numeric          object
from_postcode_alpha            object
has_relocated                  bool
qty_started_names              int64
qty_stopped_names              int64
Associate                      int64
Authorized official            int64
Board member                   int64
Chairman                       int64
Commissioner                   int64
Director                       int64
Liquidator                     int64
Major                          int64
Managing clerk                 int64
Managing partner               int64
Member of the partnership      int64
Miscellaneous                  int64
Owner                          int64
Secretary                      int64
Secretary/Treasurer            int64
Treasurer                      int64
Unknown                        int64
Vice President                 int64
dtype: object

In [131]:
data_month_of_june['postcode_numeric'].head(5)

0    NA
1    NA
2    NA
3    NA
4    NA
Name: postcode_numeric, dtype: object

In [90]:
data_month_of_june['postcode_alpha'].head(5)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: postcode_alpha, dtype: object

In [75]:
data_month_of_june.isnull().sum()/data_month_of_june.shape[0]*100

date_month                     0.000000
id_company                     0.000000
id_branch                      0.000000
date_established               0.000000
date_discontinued              0.000000
postcode_numeric               0.000000
postcode_alpha                 99.008605
qty_address_mutations_total    0.000000
qty_address_mutations_month    0.000000
date_start                     98.999563
date_end                       99.946162
date_end_month                 99.946162
from_date_start                99.345287
from_date_end                  99.353095
from_postcode_numeric          0.000000
from_postcode_alpha            99.348859
has_relocated                  0.000000
qty_started_names              0.000000
qty_stopped_names              0.000000
Associate                      0.000000
Authorized official            0.000000
Board member                   0.000000
Chairman                       0.000000
Commissioner                   0.000000
Director                       0.000000
Liquidator                     0.000000
Major                          0.000000
Managing clerk                 0.000000
Managing partner               0.000000
Member of the partnership      0.000000
Miscellaneous                  0.000000
Owner                          0.000000
Secretary                      0.000000
Secretary/Treasurer            0.000000
Treasurer                      0.000000
Unknown                        0.000000
Vice President                 0.000000
dtype: float64